<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/modify_news.css">
        <title>Modify</title>
    </head>
    <body>
    
		<nav class="nav-container">
            
            <div class ="nav-child">
                
                <h2>Egg</h2>
                
            </div>
           
			
			<div class ="nav-child">
               
			   	<a th:href="@{/}">Home page</a>
				<a th:href="@{/admin/tools}">Admin panel</a>
				<a th:href="@{/admin/tools/create-news}">Create news</a>
				
            </div>
            
        </nav>
		
		<div class="create-alert" th:if="${error != null}">
				
					<h3>Error!</h3>
					<p th:text="${error}"></p>
				
		</div>
				
        
        <div class="main-container">
            
			<div class="child-container">
			
				<div>
					
					<h1>Modify news</h1>
					
				</div>
				
				
				
				<form class="form-container" th:action="@{/admin/tools/modify-news/__${news.isbn}__}" method="POST">
				
				
					<input hidden th:value="${isbn}" name="isbn">
					<input hidden th:value="${releaseDate}" name="releaseDate">
					
					<div class="form-child">
					
						<label>New title</label>
						<input th:value="${news.title}" type="text" name="title">
						
					
					</div>
				
					
					<div class="form-child">
					
						<button type="submit">Submit</button>
					
					</div>
				
				
				</form>
            
			</div>
        </div>
        
        
    </body>
</html>